<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Osoba"/>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Zaposlenik"/>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Operater"/>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Plata"/>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Firma"/>
  <mapping class="ba.unsa.etf.si.Tim11.Projekat_Tim11.Klase.Admin"/>
 </session-factory>
</hibernate-configuration>
